
// Imports
@import "compass/utilities/general/clearfix";
@import 'compass/css3';
@import "mixins";

// General variables
$font-family-title: 'Gill Sans MS', 'Helvetica Nueve', Helvetica, Arial;
$font-family-paragraph: 'Rokkitt', serif;
$font-size: 18px;
$site-width: 1400px;
$image-width: 1400px;
$paragraph-width: 700px;

// Colors
$body-bg: #f5f5f5;
$reload-green: #98be31;
